body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 40px;
}

.game_grid {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(50, 15px);
}

.game_grid .cells {
  width: 15px;
  height: 15px;
  border: solid 1px black;
}

