body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-image: linear-gradient(
		to right bottom,
		#6897bb,
		#6892ba,
		#6a8cb8,
		#6c86b6,
		#7080b3,
		#6b7aaa,
		#6573a1,
		#606d98,
		#526487,
		#475b76,
		#3f5266,
		#394855
	);
	font-family: "Roboto Mono", monospace;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.App h1 {
	box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
	padding: 1rem;
	border: 1px dotted #6bfbce;
	border-radius: 0.5rem;
	color: #1ec198;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

span {
	font-size: 40px;
	color: black;
}

.game_grid {
	margin: auto;
	margin-bottom: 0.5rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border: 2px solid #394855;
}

.cells {
	width: 1rem;
	height: 1rem;
	border: solid 1px #394855;
	margin-left: -1px;
	margin-bottom: -1px;
	cursor: pointer;
}


.btn_container {
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 4rem;
}

.btn_container .btn {
	display: block;
	width: 5rem;
	height: 2rem;
	font-size: 1rem;
	font-family: "Roboto Mono", monospace;
	background-color: #7678ad;
	color: #d0f5ff;
	border-radius: 0.3rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	transition: 0.4s;
	margin-left: 5px;
}

.btn_container .btn:hover {
	background-color: #394855;
	transform: scale(1.05);
	cursor: pointer;
}

.fa-less-than {
	font-size: 1.3rem;
	color: #d0f5ff;
}

.fa-greater-than {
	font-size: 1.3rem;
	color: #d0f5ff;
}

.nav {
	display: flex;
	width: 40%;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.nav a {
	text-decoration: none;
	font-size: 20px;
	color: #fcfcd4;
	transition: 0.4s;
}

.nav a:hover {
	transform: scale(1.3);
}

.modal {
	width: 60%;
	margin: auto;
	font-size: 1rem;
	font-family: "Roboto Mono", monospace;
	background-color: #ffffff;
	padding: 2rem;
	border: 1px solid #6bfbce;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.modal .header {
	width: 100%;
	border-bottom: 1px dotted #464555;
	font-size: 1.2rem;
	text-align: center;
	padding: 5px;
}

.modal .content {
	width: 80%;
	margin: auto;
	padding: 10px 5px;
}

.modal .close {
	cursor: pointer;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	font-size: 1.5rem;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #6bfbce;
}

label {
	display: flex;
	padding: 0 10px 0;
	color: #1ec198; 
}

